body{
    background-color: aquamarine;
}

h4{
    text-align: center;
    font-size: large;
}

.formulario{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.formulario input{
    width: 20%;
    margin: 2px;
    height: 20px;
}

span{
    color: red;
}

.formulario input[type="submit"]{
    width: 10%;
    height: 40px;
    background-color: blueviolet;
    color: white;
    font-weight: bold;
    border: solid 2px rgb(199, 122, 122);
    margin-top: 15px;
}

.formulario p{
    font-weight: bold;
}